version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: vid_cap_mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: vid_cap_tablet
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
